<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maco.dao.CouponDao">
    <insert id="addCoupon" parameterType="com.maco.common.po.CouponBean">
        insert into coupon (coupon_id,coupon_name,coupon_type_id,start_time,end_time,amount,coupon_status,description,creator,create_time,updater,update_time)
        values(
               #{couponBean.couponId},
               #{couponBean.couponName},
               #{couponBean.couponTypeId},
               #{couponBean.startTime},
               #{couponBean.endTime},
               #{couponBean.amount},
               0,
               #{couponBean.description},
               #{couponBean.creator},
               now(),
               null,
               null
              )
    </insert>
    <select id="getCouponById" resultType="com.maco.common.po.CouponBean">
        select * from coupon where coupon_id = #{couponId}
    </select>
    <select id="getCouponList" resultType="com.maco.common.po.CouponBean">
        select * from coupon where 1=1
        <if test="userRole == null or userRole.role != 'admin'">
            and below_openid = #{openId}
        </if>
        <if test="couponStatus != null and couponStatus != ''">
            and coupon_status = #{couponStatus}
        </if>
        order by create_time desc
    </select>
    <select id="getCouponLastGiven" resultType="com.maco.common.po.CouponGivenBean">
        select * from coupon_given
        where coupon_id = #{couponId}
        order by given_time desc limit 1
    </select>
    <update id="updateCoupon">
        update coupon c set
            c.below_openid = #{belowOpenid},
            c.updater = #{givenOpenid},
            c.update_time = now(),
            coupon_status = 2
        where c.coupon_id = #{couponId}
    </update>
    <insert id="insertCouponGiven">
        insert into coupon_given
        values(
               #{givenId},
               #{couponId},
               #{givenOpenid},
               #{belowOpenid},
               now()
              )
    </insert>
    <update id="updateCouponStatusById">
        update coupon set coupon_status = #{couponStatus},
                          below_openid = #{sessionOpenid},
                          updater = #{sessionOpenid},
                          update_time = now()
        where coupon_id = #{couponId}
    </update>
</mapper>