<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maco.dao.UserDao">
    <select id="getRole" resultType="com.maco.common.po.UserRole">
        select openid,name,role from user_role where openid = #{openid} and status = 1
    </select>
    <select id="getUser" resultType="com.maco.common.po.MyWxMpUser">
        select * from user where openid = #{openid}
    </select>
    <select id="getUserList" resultType="com.maco.common.po.UserInfo">
        select openid as "wxMpUser.openId",
            nickname as "wxMpUser.nickname",
            sex as "wxMpUser.sex",
            language as "wxMpUser.language",
            city as "wxMpUser.city",
            province as "wxMpUser.province",
            country as "wxMpUser.country",
            headimgurl as "wxMpUser.headImgUrl",
            subscribe as "wxMpUser.subscribe",
            subscribe_time as "wxMpUser.subscribeTime",
            unionid as "wxMpUser.unionId",
            remark as "wxMpUser.remark",
            groupid as "wxMpUser.groupId",
            tagid_list as "wxMpUser.tagidList",
            subscribe_scene as "wxMpUser.subscribeScene",
            qr_scene as "wxMpUser.qrScene",
            qr_scene_str as "wxMpUser.qrSceneStr",
            create_time as "wxMpUser.createTime",
            update_time as "wxMpUser.updateTime" from user t
        where openid not in (select openid from user_role where status = 1)
        <if test="nickname != null and nickname != ''">
            and nickname like concat('%',#{nickname},'%')
        </if>
        order by t.subscribe_time desc
    </select>
    <select id="getStaff" resultType="com.maco.common.po.UserInfo">
        select openid as "wxMpUser.openId",
               nickname as "wxMpUser.nickname",
               sex as "wxMpUser.sex",
               language as "wxMpUser.language",
               city as "wxMpUser.city",
               province as "wxMpUser.province",
               country as "wxMpUser.country",
               headimgurl as "wxMpUser.headImgUrl",
               subscribe as "wxMpUser.subscribe",
               subscribe_time as "wxMpUser.subscribeTime",
               unionid as "wxMpUser.unionId",
               remark as "wxMpUser.remark",
               groupid as "wxMpUser.groupId",
               tagid_list as "wxMpUser.tagidList",
               subscribe_scene as "wxMpUser.subscribeScene",
               qr_scene as "wxMpUser.qrScene",
               qr_scene_str as "wxMpUser.qrSceneStr",
               create_time as "wxMpUser.createTime",
               update_time as "wxMpUser.updateTime" from user t
        where t.openid in (select openid from user_role r where r.role = 'staff' and r.status = 1)
    </select>
</mapper>